$color-accent-primary: #00ddff;
$color-background-1: #2b2a33;
$color-background-2: #42414d;
$color-background-3: #1c1b22;
$color-text-primary: #fbfbfe;
$color-text-secondary: #cfcfd8;
$color-text-disabled: rgba(251, 251, 254, 0.4);
$color-text-error: #ff9aa2;
$color-border-primary: #e0e0e6;

$font-chrome-heading-default: "SF Pro Text Semibold 13px/150%";
$font-chrome-body-default-bold: "SF Pro Text Semibold 13px/150%";
$font-chrome-body-default: "SF Pro Text Regular 13px/150%";
$font-chrome-body-small-bold: "SF Pro Text Semibold 11px/150%";
$font-chrome-body-small: "SF Pro Text Regular 11px/150%";
$font-chrome-body-small-link: "SF Pro Text Regular 11px/150%, underline";
$font-chrome-body-xsmall: "SF Pro Text Regular 8.2px/150%, upper";
$font-in-content-title-default: "SF Pro Text Light 26px/140%";
$font-in-content-heading-large: "SF Pro Text Regular 22px/140%";
$font-in-content-heading-default: "SF Pro Text Semibold 17px/140%";
$font-in-content-body-default-bold: "SF Pro Text Semibold 15px/150%";
$font-in-content-body-default: "SF Pro Text Regular 15px/150%";
$font-in-content-body-default-link: "SF Pro Text Regular 15px/150%, underline";
$font-in-content-body-small-bold: "SF Pro Text Semibold 13px/150%";
$font-in-content-body-small: "SF Pro Text Regular 13px/150%";
$font-in-content-body-small-link: "SF Pro Text Regular 13px/150%, underline";

body {
  margin: 0;
  width: 400px;
  background-color: $color-background-1;

  // TODO: $font-in-content-body-default
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  color: $color-text-primary;

  font-family:
    system-ui,
    -apple-system,
    "SF Pro Text",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.loading {
  margin: 20px 0;
  text-align: center;
}

.challenge {
  display: flex;
  margin: 20px;
  gap: 20px;

  img {
    width: 48px;
    height: 48px;
  }

  div {
    h1 {
      // TODO: $font-in-content-heading-default
      font-size: 17px;
      line-height: 140%;
      font-weight: 600;

      margin: 0;
    }

    p {
      color: $color-text-secondary;

      margin: 0;
    }

    input {
      all: unset;

      margin-top: 20px;
      width: 100%;
      padding: 8px;
      box-sizing: border-box;

      // TODO: $font-in-content-title-default
      font-size: 26px;
      line-height: 140%;
      font-weight: 300;
      font-variant-numeric: tabular-nums;

      text-align: center;
      letter-spacing: 8px;

      background-color: rgba($color-background-2, 0.3);
      border: 1px solid $color-background-2;
      border-radius: 5px;

      &:focus {
        border-color: $color-accent-primary;
      }
    }
  }
}
