$color-accent-primary: #00ddff;
$color-background-1: #2b2a33;
$color-background-2: #42414d;
$color-background-3: #1c1b22;
$color-text-primary: #fbfbfe;
$color-text-secondary: #cfcfd8;
$color-text-disabled: rgba(251, 251, 254, 0.4);
$color-text-error: #ff9aa2;
$color-border-primary: #e0e0e6;
$color-button-primary: #15141a;
